/* responsive styles */
@media screen and (max-width: 576px) {
    /*   when media is screen and its max width is smaller than 576px, the following rules are applied */
      .header {
        grid-template-columns: 1fr;
      }
      .home-link {
          justify-self: start; 
          grid-row-start: 1;
          grid-column-start: 1;
      }
      #navbutton {
        display: block;
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: end;
        margin: 0.3em;
      }
      .logo {
        grid-row-start: 1;
        grid-column-start: 1;
        max-width: 200px;
        justify-self: start;
        align-self: center;
      }
      .navigation {
        flex-direction: column;
        min-width: auto;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        max-height: 0;
        overflow: hidden;
      }
      .navigation.open {
        max-height: 50vh;
      }
      .navigation a {
        border-bottom: 1px solid #4d1d18;
      }

#contact {
  grid-column-start: 1;
  grid-column-end: 3;
  min-width: 100%;
  margin: 0;
}

#map {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.content {
  min-width: 90vw;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

      .social {
        justify-self: center;
        align-self: center;
      }
      .social a { 
      font-size: 1em;
      padding: 0.2em;
      margin: 0;
      }

      .copyright {
        font-size: 0.7em;
        justify-self: end;
        align-self: center;
      }
      .secondary-nav {
        font-size: 0.6em;
        justify-self: center;
        align-self: center;
      }

      .footer {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 1em;
      }
    }

    .item {
      grid-column: span 2;
    }

    .item img {
      width: 100%;
    }