/* variables */
:root {
    --main-font: Helvetica, Calibri, sans-serif;
    --nav-link: #4d1d18;
    --nav-hover: #555555;
    --main-heading: #87423c;
    --main-heading-size: 36px;
    --sub-heading: #4d1d18;
    --sub-heading-size: 24px;
    --content-lh: 150%;
    --content-link: #87423c;
    --footer-link: #87423c;
    /* theme colors */
--primary-color: #5e201dff;
--primary-light: #a37d79ff;
--primary-mid: #c5c7c6ff;
--secondary-dark: #434f41ff;
--light-brown: #bcaa99ff;
}

html {
    min-height: 100vh;
}

body {
    font-family: var(--main-font);
    background-color: var(--primary-mid);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

h1 {
    color: var(--main-heading);
    font-size: var(--main-heading-size);
}

h2 {
    color: var(--sub-heading);
    font-size: var(--sub-heading-size);
}

.header {
    background-color: var(--primary-light);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    width: 300px;
    justify-self: start;
    align-self: center;
}

.home-link {
    justify-self: center;
}

#navbutton {
width: 52px;
height: 52px;
background-color: transparent;
border: 1px solid var(--secondary-dark);
color: var(--secondary-dark);
font-size: 28px;
border-radius: 0.3rem;
display: none;
}

#navbutton:focus {
    outline: transparent;
    background-color: var(--nav-link);
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    
}

.navigation a {
    text-decoration: none;
    color: var(--nav-link);
    padding: 0.8em;
}
.navigation a:link {
    color: var(--nav-link);
}

.navigation a:visited {
    color: white;
}

.navigation a:hover {
    color: var(--nav-hover);
}

.navigation a:active {
    color: white;
}

.navigation .active {
    font-weight: bold;
}
 .content { 
    line-height: var(--content-lh);
    max-width: 1024px;
    margin: 30px auto;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    justify-self: start;
} 

.content img {
    justify-self: start;
    align-self: end;
    grid-area: 3;

}

.content a {
    color: var(--content-link);
}
.main-content {
    line-height: var(--content-lh);
    max-width: 1024px;
    margin: auto;
    /* display: grid; */
   
    /* justify-self: center; */
    /* align-self: center; */
}

.item-about img {
    max-width: 300px;
    max-height: 300px;
}

.item-about {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 30px;
    align-self: center;
    justify-self: center;
}

.footer {
    color: var(--footer-link);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--light-brown);
    padding: 1.2em;
}

.item {
    grid-column: span 1;
}

.item img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    justify-self: end;
}

.social {
    grid-column-start: 2;
    justify-self: center;
}

.social a {
    color: var(--footer-link);
    text-decoration: none;
    padding: 0.5em 0.5em;
    font-size: 1.3em;
}

.secondary-nav {
    grid-column-start: 1;
    justify-self: center;
}

.secondary-nav a {
    text-decoration: none;
    color: var(--footer-link);
    align-self: end;
}

.copyright {
    grid-column-start: 3;
    justify-self: center;
    align-self: end;
    margin: 0;
}
/* contact page */
#contact {
    max-width: 640px;
    margin: auto;
    /* margin-top: 4em; */
    align-self: center;
    justify-self: center;
}

.contact-details {
    
}

.label {
    display: block;
    margin-top: 1em;
}

.input {
    min-width: 100%;
    padding: 0.5em;
    border: 1px solid var(--primary-light);
    border-radius: 0.5em;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    padding: 0.5em;
    background-color: var(--primary-color);
    color: white;
    min-width: 80px;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
}
/* slideshow */
#slideshow {
    height: 50vh;
}
#slideshow .slides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#map {
    justify-self: center;
    align-self: center;
    min-width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* home grid */
.grid-container {
    display: grid;
    margin: 80px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
   grid-column: 1;
  }

  .item2 {
    grid-column: 2;
  }

  .item3 {
    grid-column: 1;
  }

  .item4 {
    grid-column: 2;
  }

  .grid-container {
      grid-template-areas: 4;
  }

  #video {
    grid-column: 2;
    justify-self: center;
    max-width: auto;
}


/* .image-text {
    justify-self: start;
    grid-area: 4;
}

.video-text {
    justify-self: end;
    grid-column: 1;
} */

#calender {
    min-width: 100%;
    grid-column-start: 1;
    grid-column-start: 1;
}