/* variables */
:root {
    --main-font: Helvetica, Calibri, sans-serif;
    --nav-link: #4d1d18;
    --nav-hover: #555555;
    --main-heading: #87423c;
    --main-heading-size: 36px;
    --sub-heading: #4d1d18;
    --sub-heading-size: 24px;
    --content-lh: 150%;
    --content-link: #87423c;
    --footer-link: #87423c;
    /* theme colors */
--primary-color: #5e201dff;
--primary-light: #a37d79ff;
--primary-mid: #c5c7c6ff;
--secondary-dark: #434f41ff;
--light-brown: #bcaa99ff;
}

html {
    min-height: 100vh;
}

body {
    font-family: var(--main-font);
    background-color: var(--primary-mid);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

h1 {
    color: var(--main-heading);
    font-size: var(--main-heading-size);
}

h2 {
    color: var(--sub-heading);
    font-size: var(--sub-heading-size);
}

.header {
    background-color: var(--primary-light);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    width: 300px;
    justify-self: start;
    align-self: center;
}

.home-link {
    justify-self: center;
}

#navbutton {
width: 52px;
height: 52px;
background-color: transparent;
border: 1px solid var(--secondary-dark);
color: var(--secondary-dark);
font-size: 28px;
border-radius: 0.3rem;
display: none;
}

#navbutton:focus {
    outline: transparent;
    background-color: var(--nav-link);
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    
}

.navigation a {
    text-decoration: none;
    color: var(--nav-link);
    padding: 0.8em;
}

.navigation a:hover {
    color: var(--nav-hover);
}

.navigation .active {
    font-weight: bold;
}
.content {
    line-height: var(--content-lh);
}

.content a {
    color: var(--content-link);
}
.footer {
    color: var(--footer-link);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--light-brown);
    padding: 1.2em;
}

.social {
    grid-column-start: 2;
    justify-self: center;
}

.social a {
    color: var(--footer-link);
    text-decoration: none;
    padding: 0.5em 0.5em;
    font-size: 1.3em;
}

.secondary-nav {
    grid-column-start: 1;
    justify-self: center;
}

.secondary-nav a {
    text-decoration: none;
    color: var(--footer-link);
    align-self: end;
}

.copyright {
    grid-column-start: 3;
    justify-self: center;
    align-self: end;
    margin: 0;
}
/* contact page */
#contact {
    max-width: 640px;
    margin: auto;
    margin-top: 4em;
}

.label {
    display: block;
    margin-top: 1em;
}

.input {
    min-width: 100%;
    padding: 0.5em;
    border: 1px solid var(--primary-light);
    border-radius: 0.5em;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    padding: 0.5em;
    background-color: var(--primary-color);
    color: white;
    min-width: 80px;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
}